<!--/banner-->
  <div class="top-bar_sub_w3layouts container-fluid">
      <div class="row">
        
        <div class="col-md-4 col-sm-6 log-icons mt-2">
          <p class="py-2"><i class="fas fa-phone"></i> Call Taxi : 12(00) 123 1234</p>
        </div>
        
        <div class="col-md-4 col-sm-6 logo">
          <a class="navbar-brand" href="/">
            <i class="fa fa-motorcycle"></i> DT express</a>
        </div>
        
        

            <div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
              <span class="mx-lg-4 mx-md-2  mx-1">
                <a href="/company"  aria-pressed="false">
                  <i class="fas fa-lock"></i> Perfil</a>
              </span>
                <span>
                  <a href="/company/add">
                    <i class="fas fa-user"></i> Solicitar</a>
                </span>
              <span>
                <a href="/users/logout"  >
                  <i class="fas fa-user"></i> Cerrar Sesión</a>
              </span>
            </div>

      </div>
    </div>

<div class="container">
 <h2 class="page-header">Dashboard</h2>
<h1>Bienvenido {{ user.role }} {{ user.name }} </h1>
</div>  


<div class="container-fluid">
<div class="row">

    <div class="col-md-10">
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Conductor</th>
            <th>Origen</th>
            <th>Llegada</th>
            <th>Descripcion</th>
            <th>Recogido</th>
            <th>Entregado</th>
          </tr>
        </thead>
        <tbody>
          {{#each services}}
            <tr>
              {{#if meta.driver }}
              <td>Asignado</td>
              <td>{{ meta.driver }} <br> DNI : {{meta.dni}} </td>
              {{else}}
              <td>Por Asignar</td>
              <td>Por Asignar</td>
              {{/if}}
              <td>{{ ori }}</td>
              <td>{{ dest }}</td>
              <td>{{ desc }}</td>
              <td>
                {{#if status }}En proceso
                {{else}}Recogido: {{meta.hrRe}}
                {{/if}}
              </td>
              <td>
               {{#if completed }}
               Entregado: {{meta.hrEn}}
               {{else}}En proceso{{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>      
    </div>

    <div class="col-md-2">
      <h4>SOLICITUD DE SERVICIOS</h4>  
    <form method="post" action="/company/add/{{ user.name }}">
      <div class="form-group">
        <label>Lugar de recojo: (Dirección, Distrito)</label>
        <textarea class="form-control" name="ori" id="" cols="80"placeholder="Sea lo más especifico por favor" required></textarea>
 
      </div>
       <div class="form-group">
        <label>Sitio de entrega: (Dirección, Distrito)</label>
        <textarea name="dest" id="" class="form-control" cols="80" placeholder="Sea lo más especifico por favor" required></textarea>

      </div>
      <div class="form-group">
        <label>Escriba una descripcion del servicio:</label>
        <textarea name="desc" id=""  cols="80" class="form-control" placeholder="Sea lo más especifico por favor" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Add</button>
    </form>
  </div>
  


      
</div>
</div>